<div
  class="hero"
  [ngStyle]="{ 'background-image': 'url(' + heroImageUrl + ')' }"
>
  <div>
    <h1>Awesome Images</h1>
    <p>The best image search on the web</p>
  </div>
</div>

<div class="text-input">
  <form (submit)="onSubmit(searchTerm)">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      name="searchTerm"
      id="search-term"
    />
    <button type="submit">Search</button>
  </form>
</div>

<div class="image-gallery">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.urls.small"
    (click)="open(i)"
  />
</div>
<div *ngIf="images && images.length > 0" class="show-more">
  <button (click)="getMore(searchTerm)">Show More</button>
</div>
